body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(218deg 50% 91%);

}

#app {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  
}

#entries, #form-container {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background: hsl(213deg 85% 97%);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#graficoBack {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background: hsl(213deg 85% 97%);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: #333;
}

input, textarea, select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

